<h1>Read</h1>

<div class="media" ng-repeat="article in articles">
  <div class="media-left">
    <a target="_blank"
       ng-href="{{article.link}}">
      <img class="media-object"
           width="300"
           ng-if="article.imageUrl"
           ng-src="{{article.imageUrl}}">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">{{article.title}}</h4>

    <i>By {{article.author}} on {{article.date | date: medium}}</i>
    <span ng-bind-html="article.description"></span>
    <a target="_blank" ng-href="{{article.link}}">Continue reading on medium.com »</a>
  </div>
</div>
